@using TDT.Core.DTO;
@model TDT.Core.Models.UserIdentiyModel

@{
    ViewData["Title"] = "Edit";
    IList<RoleDTO> roles = ViewBag.roles ?? new List<RoleDTO>();
    IList<RoleDTO> userRoles = ViewBag.userRoles ?? new List<RoleDTO>();
}
<h2 class="title-admin">Chỉnh sửa tài khoản</h2>
<hr />
<form asp-action="Edit" class="row" style="align-items: flex-start;">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="control-label">Tên đăng nhập</label>
            <input asp-for="UserName" class="form-control" readonly="readonly" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Địa chỉ</label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger" readonly="readonly"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Mật khẩu</label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Số điện thoại</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Lưu" class="btn btn-primary" />
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="form-group col-md-5">
        <label class="control-label">
            Phân quyền tài khoản
            <input id="choose-all-role" title="Chọn tất cả" style="margin-left: 10px" type="checkbox" value="">
        </label>
        <div class="row roles role-assigment-panel">
            @foreach (var role in roles)
            {
                string chk = "";
                @if (userRoles.Any(r => r.Id == role.Id))
                {
                    chk = "checked";
                }
                <label class="col-md-4">
                    <input style="margin-left: 10px" type="checkbox" name="UserRoles" value="@role.Id" @chk>
                    <span>@role.Name</span>
                </label>
            }
        </div>
    </div>
</form>


<script>
    $('#choose-all-role').on('click', function (e) {
        var checkboxs = $('.roles input[type="checkbox"]');
        if ($(this).is(':checked')) {
            checkboxs.prop('checked', true);
        } else {
            checkboxs.prop('checked', false);
        }
    });
</script>
<div>
    <a asp-action="Index">Trở về trang trước</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
