@model string

@{
    ViewData["Title"] = "Quên mật khẩu";
}

<h1>Khôi phục tài khoản</h1>

<form asp-action="RestPassword" method="post">
    <div class="form-group">
        <label>Tên người dùng hoặc email</label>
        <input name="email" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>