<div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
    <div class="playlist-wrapper is-description">
        <div class="zm-card">
            <div>
                <a class="" title=""
                   href="">
                    <div class="zm-card-image">
                        <figure class="loading image is-48x48">
                            <img src="" alt="" />
                        </figure>
                    </div>
                </a>
            </div>
            <div class="zm-card-content">
                <h3 class="loading mt-10 subtitle">
                    <span>
                        <span>
                            <span></span>
                            <br />
                            <span></span>
                        </span>
                        <span style="position: fixed; visibility: hidden; top: 0px; left: 0px; ">…</span>
                    </span>
                </h3>
            </div>
        </div>
    </div>
</div>