@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;
@using X.PagedList;
@model TDT.Core.DTO.Firestore.Genre
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Nhập Chủ Đề</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label> Bí Danh</label>
                <input asp-for="alias" class="form-control" />
                <span asp-validation-for="alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label> Tên Chủ Đề</label>
                <input asp-for="name" class="form-control" required oninput="validateName(this, 'name-message');" />
                <span asp-validation-for="name" class="text-danger" id="name-message"></span>
            </div>
            <div class="form-group">
                <label>Tiêu Đề </label>
                <input asp-for="title" class="form-control" required oninput="validateName(this, 'title-message');" />
                <span asp-validation-for="title" class="text-danger" id="title-message"></span>
            </div>
            <div class="form-group" hidden>
                <label> Chèn Link</label>
                <input asp-for="link" class="form-control" />
                <span asp-validation-for="link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo Mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về trang trước</a>
</div>

<script>
    function validateName(input, messageSpanId) {
        const errorMessage = validateNoSpecialCharsYesVI(input) || validateMinLength(input, 4);
        const messageSpan = document.getElementById(messageSpanId);
        if (errorMessage) {
            messageSpan.textContent = errorMessage;
            return false; // Có lỗi
        } else {
            messageSpan.textContent = '';
            return true; // Không có lỗi
        }
    }

    document.getElementById("create-form").onsubmit = function () {
        const isNameValid = validateName(document.getElementById("Name"), 'name-message');
        const isTitleValid = validateName(document.getElementById("title"), 'title-message');

        return isNameValid && isTitleValid;
    };

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
