@using TDT.Core.DTO;
@using TDT.Core.Helper;
@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/loading.css" />
}

<div class="container home-page-content">
    <div class="container">
        <div class="gallery">
            <div class="gallery-container" style="height: 201.413px">
                <div class="zm-gallery-prev">
                    <button class="zm-btn zm-carousel-control-prev button" tabindex="0">
                        <i class="icon ic-go-left"></i>
                    </button>
                </div>
                <div class="gallery-item gallery-item-next">
                    <div class="zm-card">
                        <a title="" href="/playlist/Nhac-Moi-Moi-Tuan/67WIO6CF.html">
                            <div class="zm-card-image">
                                <figure class="image is-48x48">
                                    <img src="https://photo-zmp3.zmdcdn.me/banner/0/e/f/8/0ef8beec056970cb6e9596e056fa1c5a.jpg"
                                         alt="">
                                </figure>
                            </div>
                            <div class="zm-card-content">
                                <div class="title"></div>
                                <h3 class="subtitle"></h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gallery-item gallery-item-last">
                    <div class="zm-card">
                        <a title="" href="/playlist/Doa-Hong-Nhac-Viet/ZA9U9FCI.html">
                            <div class="zm-card-image">
                                <figure class="image is-48x48">
                                    <img src="https://photo-zmp3.zmdcdn.me/banner/3/3/e/7/33e77ef341a68837ac02593869d49813.jpg"
                                         alt="">
                                </figure>
                            </div>
                            <div class="zm-card-content">
                                <div class="title"></div>
                                <h3 class="subtitle"></h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gallery-item gallery-item-add">
                    <div class="zm-card">
                        <a title=""
                           href="/album/Artist-s-Story-33-Tang-Duy-Tan-Viet-nhac-de-quen-di-thuc-tai-phu-phang-Tang-Duy-Tan/6BDOUZFI.html">
                            <div class="zm-card-image">
                                <figure class="image is-48x48">
                                    <img src="https://photo-zmp3.zmdcdn.me/banner/0/5/1/9/0519e7502823f6c3c486ecb9109b5f1b.jpg"
                                         alt="">
                                </figure>
                            </div>
                            <div class="zm-card-content">
                                <div class="title"></div>
                                <h3 class="subtitle"></h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gallery-item gallery-item-add">
                    <div class="zm-card">
                        <a title="" href="/playlist/Rap-Viet-Moi-Nhat/ZU607OIB.html">
                            <div class="zm-card-image">
                                <figure class="image is-48x48">
                                    <img src="https://photo-zmp3.zmdcdn.me/banner/7/b/4/c/7b4c90a6d7e07a36edadd0388f388da8.jpg"
                                         alt="">
                                </figure>
                            </div>
                            <div class="zm-card-content">
                                <div class="title"></div>
                                <h3 class="subtitle"></h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gallery-item gallery-item-add">
                    <div class="zm-card">
                        <a title="" href="/playlist/Nhac-Moi-Moi-Tuan/67WIO6CF.html">
                            <div class="zm-card-image">
                                <figure class="image is-48x48">
                                    <img src="https://photo-zmp3.zmdcdn.me/banner/0/e/f/8/0ef8beec056970cb6e9596e056fa1c5a.jpg"
                                         alt="">
                                </figure>
                            </div>
                            <div class="zm-card-content">
                                <div class="title"></div>
                                <h3 class="subtitle"></h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gallery-item gallery-item-first">
                    <div class="zm-card">
                        <a title="" href="/playlist/Doa-Hong-Nhac-Viet/ZA9U9FCI.html">
                            <div class="zm-card-image">
                                <figure class="image is-48x48">
                                    <img src="https://photo-zmp3.zmdcdn.me/banner/3/3/e/7/33e77ef341a68837ac02593869d49813.jpg"
                                         alt="">
                                </figure>
                            </div>
                            <div class="zm-card-content">
                                <div class="title"></div>
                                <h3 class="subtitle"></h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gallery-item gallery-item-previous">
                    <div class="zm-card">
                        <a title=""
                           href="/album/Artist-s-Story-33-Tang-Duy-Tan-Viet-nhac-de-quen-di-thuc-tai-phu-phang-Tang-Duy-Tan/6BDOUZFI.html">
                            <div class="zm-card-image">
                                <figure class="image is-48x48">
                                    <img src="https://photo-zmp3.zmdcdn.me/banner/0/5/1/9/0519e7502823f6c3c486ecb9109b5f1b.jpg"
                                         alt="">
                                </figure>
                            </div>
                            <div class="zm-card-content">
                                <div class="title"></div>
                                <h3 class="subtitle"></h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="gallery-item gallery-item-selected">
                    <div class="zm-card">
                        <a title="" href="/playlist/Rap-Viet-Moi-Nhat/ZU607OIB.html">
                            <div class="zm-card-image">
                                <figure class="image is-48x48">
                                    <img src="https://photo-zmp3.zmdcdn.me/banner/7/b/4/c/7b4c90a6d7e07a36edadd0388f388da8.jpg"
                                         alt="">
                                </figure>
                            </div>
                            <div class="zm-card-content">
                                <div class="title"></div>
                                <h3 class="subtitle"></h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="zm-gallery-next">
                    <button class="zm-btn zm-carousel-control-next button" tabindex="0">
                        <i class="icon ic-go-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="zm-section zm-new-release-section channel-section pad-0">
        <h3 class="zm-section-title title is-2">
            Mới phát hành
            <a class="discovery-btn" href="/new-release/song?filter=all">
                Tất cả <i class="icon ic-go-right"></i>
            </a>
        </h3>
        <div class="genre-select">
            <button class="zm-btn active button" tabindex="0">
                Tất cả
            </button>
            <button class="zm-btn button" tabindex="0">Việt Nam</button>
            <button class="zm-btn button" tabindex="0">Quốc tế</button>
        </div>
        <div id="song_release" class="columns is-multiline">
            <div class="column mar-b-0 is-fullhd-4 is-widescreen-4 is-desktop-4 is-touch-6 is-tablet-6">
                <div class="list">
                    @for(int i = 0; i < 4; i++)
                    {
                        @await Html.PartialAsync("/views/partial/_itemsong.cshtml");
                    }
                </div>
            </div>
            <div class="column mar-b-0 is-fullhd-4 is-widescreen-4 is-desktop-4 is-touch-6 is-tablet-6">
                <div class="list">
                    @for(int i = 0; i < 4; i++)
                    {
                        @await Html.PartialAsync("/views/partial/_itemsong.cshtml");
                    }
                </div>
            </div>
            <div class="column mar-b-0 is-fullhd-4 is-widescreen-4 is-desktop-4 is-touch-6 is-tablet-6">
                <div class="list">
                    @for (int i = 0; i < 4; i++)
                    {
                        @await Html.PartialAsync("/views/partial/_itemsong.cshtml")
                        ;
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="zm-section playlist-section channel-section pad-0">
        <div class="container">
            <h3 class="zm-section-title title is-2">
                Chill
                <a class="discovery-btn" href="/hub/Chill/IWZ9Z0CI.html">
                    Tất cả <i class="icon ic-go-right"></i>
                </a>
            </h3>
            <div class="zm-carousel-wrapper">
                <div class="zm-carousel">
                    <div id="playlist_chill" class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px)">
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Nhạc Hoa Lời Việt Nhẹ Nhàng"
                                           href="/album/Nhac-Hoa-Loi-Viet-Nhe-Nhang-Duong-Edward-Bao-Anh-Vicky-Nhung-Huy-Vac/6BC7Z8EC.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Lắng nghe những giai điệu</span>
                                                    <br />
                                                    <span>
                                                        <span>nhạc Hoa lời Việt nhẹ nhàng…</span>
                                                    </span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Chill Hits"
                                           href="/album/Chill-Hits-Kha-Bich-Phuong-Phuong-Ly-Hoang-Dung/ZOCIIUWW.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Ở đây có những bản hit cực</span>
                                                    <br />
                                                    <span>chill, vừa nghe vừa feel</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Giai Điệu Chữa Lành"
                                           href="/album/Giai-Dieu-Chua-Lanh-GREY-D-Bao-Anh-Hoang-Dung-Suni-Ha-Linh/SB7ACB7D.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Khi bạn cần giai điệu để xoa</span>
                                                    <br />
                                                    <span>dịu những tổn thương đã qua</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Một Chút Hoài Niệm"
                                           href="/album/Mot-Chut-Hoai-Niem-Duong-Edward-Juky-San-Ha-Nhi-JayKii/6BC8ODZ6.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Thưởng thức những bản nhạc</span>
                                                    <br />
                                                    <span>
                                                        <span>cũ được remake theo cách…</span>
                                                    </span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Nhẹ Nhàng Cùng V-Pop"
                                           href="/album/Nhe-Nhang-Cung-V-Pop-LyLy-Suni-Ha-Linh-Bao-Anh-O-lew/ZOZU0I7A.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Thả mình cùng những giai điệu</span>
                                                    <br />
                                                    <span>V-Pop nhẹ nhàng</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
                    <i class="icon ic-go-left"></i>
                </button>
                <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
                    <i class="icon ic-go-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="zm-section playlist-section channel-section pad-0">
        <div class="container">
            <h3 class="zm-section-title title is-2">Một chút yêu đời</h3>
            <div class="zm-carousel-wrapper">
                <div class="zm-carousel">
                    <div class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px)">
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Nhạc Chữa Buồn"
                                           href="/album/Nhac-Chua-Buon-Da-LAB-Juky-San-Suni-Ha-Linh-Kai-Dinh/ZWZBFW9C.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Nhẹ nhàng chữa lành trái tim</span>
                                                    <br />
                                                    <span>bằng giai điệu tích cực</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Yêu Là Phải Nói"
                                           href="/album/Yeu-La-Phai-Noi-Duc-Phuc-LyLy-Pham-Dinh-Thai-Ngan-Quan-A-P/ZF6DW6BA.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Yêu là phải nói, giống như đói</span>
                                                    <br />
                                                    <span>là phải ăn</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Ngày Hạnh Phúc"
                                           href="/album/Ngay-Hanh-Phuc-JustaTee-Rhymastic-Hoang-Ton-BigDaddy/ZWZBOC6A.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Hạnh phúc trong tình yêu là</span>
                                                    <br />
                                                    <span>được bên nhau mỗi ngày</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Nhạc Này Dính Phết"
                                           href="/album/Nhac-Nay-Dinh-Phet-AMEE-Hoang-Thuy-Linh-IVE-Phuong-My-Chi/6U0ZA0OO.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Nhạc gì mà nghe xong dính</span>
                                                    <br />
                                                    <span>cứng ngắc</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="V-Pop Tươi Vui"
                                           href="/album/V-Pop-Tuoi-Vui-LyLy-AMEE-Juky-San-Keyo/ZOED000C.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>'Ưng quá chừng' với giai điệu</span>
                                                    <br />
                                                    <span>
                                                        <span>V-Pop làm bạn vui tươi cả…</span>
                                                    </span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
                    <i class="icon ic-go-left"></i>
                </button>
                <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
                    <i class="icon ic-go-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="zm-section playlist-section channel-section pad-0">
        <div class="container">
            <h3 class="zm-section-title title is-2">Remix là Dance luôn</h3>
            <div class="zm-carousel-wrapper">
                <div class="zm-carousel">
                    <div class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px)">
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-artist">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Dance Việt Hay Nhất"
                                           href="/album/Dance-Viet-Hay-Nhat-Masew-K-ICM-SlimV-Hoaprox/ZU6CO990.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <a class="is-ghost" href="/Masew">Masew</a>,
                                            <a class="is-ghost" href="/K-ICM">K-ICM</a>,
                                            <a class="is-ghost" href="/SlimV">SlimV</a>...
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-artist">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Remix Việt Ngày Nay"
                                           href="/album/Remix-Viet-Ngay-Nay-tlinh-Phong-Max-Phao-Hoa-Minzy/Z6CZODC9.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <a class="is-ghost" href="/tlinh">tlinh</a>,
                                            <a class="is-ghost" href="/nghe-si/Phong-Max">
                                                Phong
                                                Max
                                            </a>, <a class="is-ghost" href="/Phao">Pháo</a>...
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-artist">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="EDM Việt Gây Nghiện"
                                           href="/album/EDM-Viet-Gay-Nghien-K-ICM-Touliver-Hoaprox-Masew/Z6BZW0DD.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <a class="is-ghost" href="/K-ICM">K-ICM</a>,
                                            <a class="is-ghost" href="/Touliver">Touliver</a>,
                                            <a class="is-ghost" href="/Hoaprox">Hoaprox</a>...
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-artist">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Nhạc Trẻ Remix"
                                           href="/album/Nhac-Tre-Remix-Nhat-Phong-Chau-Khai-Phong-NB3-Hoai-Bao-Anh-Quan-Idol/Z6BO9EOA.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <a class="is-ghost" href="/Nhat-Phong">Nhật Phong</a>,
                                            <a class="is-ghost" href="/Chau-Khai-Phong">
                                                Châu Khải
                                                Phong
                                            </a>,
                                            <a class="is-ghost" href="/NB3-Hoai-Bao">
                                                NB3 Hoài
                                                Bảo
                                            </a>...
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-artist">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Đỉnh Cao Remix Việt"
                                           href="/album/Dinh-Cao-Remix-Viet-Hoang-Thuy-Linh-Masew-Van-Mai-Huong-Tang-Duy-Tan/ZWZA8DZ9.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <a class="is-ghost" href="/Hoang-Thuy-Linh">
                                                Hoàng Thùy
                                                Linh
                                            </a>, <a class="is-ghost" href="/Masew">Masew</a>,
                                            <a class="is-ghost" href="/Van-Mai-Huong">
                                                Văn Mai
                                                Hương
                                            </a>...
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
                    <i class="icon ic-go-left"></i>
                </button>
                <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
                    <i class="icon ic-go-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="zm-section playlist-section channel-section pad-0">
        <div class="container">
            <h3 class="zm-section-title title is-2">Tâm trạng tan chậm</h3>
            <div class="zm-carousel-wrapper">
                <div class="zm-carousel">
                    <div class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px)">
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="cô đơn sớm tối"
                                           href="/album/co-don-som-toi-JayKii-Phung-Khanh-Linh-JSOL-SOOBIN/ZUIA7DIB.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Để những giai điệu nhẹ nhàng</span>
                                                    <br />
                                                    <span>dìu bạn bước qua nỗi cô đơn</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="nỗi nhớ không màu"
                                           href="/album/noi-nho-khong-mau-Hoai-Lam-Thuy-Chi-Duc-Phuc-Quan-A-P/6IOWC96U.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Nếu nỗi nhớ là một bông hoa</span>
                                                    <br />
                                                    <span>
                                                        <span>thì sẽ là đóa hoa không màu,…</span>
                                                    </span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="điều buồn nhất"
                                           href="/album/dieu-buon-nhat-Van-Mai-Huong-Toc-Tien-Quan-A-P-Trung-Quan/ZO6I99E8.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Có những nỗi buồn không biết</span>
                                                    <br />
                                                    <span>chia sẻ cùng ai...</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="2010s and still feeling sad"
                                           href="/album/2010s-and-still-feeling-sad-Adele-Lewis-Capaldi-Sasha-Alex-Sloan-Calum-Scott/ZWZ96OA0.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Thập niên 2010 và những bản</span>
                                                    <br />
                                                    <span>hit làm tan nát trái tim</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="những tháng năm không trở lại"
                                           href="/album/nhung-thang-nam-khong-tro-lai-Duong-Edward-Ha-Nhi-Bao-Anh-Khai-Dang/ZO698AUA.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Những khúc tình buồn ngày</span>
                                                    <br />
                                                    <span>xưa qua tiếng hát ngày nay</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
                    <i class="icon ic-go-left"></i>
                </button>
                <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
                    <i class="icon ic-go-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="zm-section playlist-section channel-section pad-0">
        <div class="container">
            <h3 class="zm-section-title title is-2">Nghệ sĩ thịnh hành</h3>
            <div class="zm-carousel-wrapper">
                <div class="zm-carousel">
                    <div class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px)">
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Những Bài Hát Hay Nhất Của Hà Nhi"
                                           href="/album/Nhung-Bai-Hat-Hay-Nhat-Cua-Ha-Nhi-Ha-Nhi/6UW9B008.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Nghe Hà Nhi 'tri ân' người yêu</span>
                                                    <br />
                                                    <span>cũ qua các bản Hit</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Những Bài Hát Hay Nhất Của Đông Nhi"
                                           href="/album/Nhung-Bai-Hat-Hay-Nhat-Cua-Dong-Nhi-Dong-Nhi/ZWZ9AEB9.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Thuận theo 'ý trời', nghe nhạc</span>
                                                    <br />
                                                    <span>Đông Nhi</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Những Bài Hát Hay Nhất Của Khải Đăng"
                                           href="/album/Nhung-Bai-Hat-Hay-Nhat-Cua-Khai-Dang-Khai-Dang/ZOEWEZCO.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>'Tình cũ' và những bản Hit gây</span>
                                                    <br />
                                                    <span>thương nhớ của Khải Đăng</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Những Bài Hát Hay Nhất Của Mr. Siro"
                                           href="/album/Nhung-Bai-Hat-Hay-Nhat-Cua-Mr-Siro-Mr-Siro/ZWZAEZZD.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>'Cung bậc sầu' và bộ sưu tập</span>
                                                    <br />
                                                    <span>Hit rơi nước mắt của Mr. Siro</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-carousel-item is-fullhd-20 is-widescreen-20 is-desktop-3 is-touch-3 is-tablet-3">
                            <div class="playlist-wrapper is-description">
                                <div class="zm-card">
                                    <div>
                                        <a class="" title="Những Bài Hát Hay Nhất Của Trịnh Thăng Bình"
                                           href="/album/Nhung-Bai-Hat-Hay-Nhat-Cua-Trinh-Thang-Binh-Trinh-Thang-Binh/ZWZ9DWU7.html">
                                            <div class="zm-card-image">
                                                <figure class="image is-48x48">
                                                    <img src="" alt="" />
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="zm-card-content">
                                        <h3 class="mt-10 subtitle">
                                            <span>
                                                <span>
                                                    <span>Ở đây có đủ Hit đỉnh nhất của</span>
                                                    <br />
                                                    <span>Trịnh Thăng Bình</span>
                                                </span>
                                                <span style="
                  position: fixed;
                  visibility: hidden;
                  top: 0px;
                  left: 0px;
                ">…</span>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
                    <i class="icon ic-go-left"></i>
                </button>
                <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
                    <i class="icon ic-go-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="container zm-partner-section">
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Share/LoadSongRelease",
            success: function(data) {
                $('#song_release').html(data);
                $.ajax({
                    url: "/Share/GetHtmlPlaylistChill",
                    success: function (data) {
                        $('#playlist_chill').html(data);
                    }
                });
            }
        });
        var change = true;
        var gal = $('.gallery-item');
        $i = 5;
        $i_prev = $(gal).length;
        function nextGallery() {
            change = false;
            $('.gallery-item-first').removeClass('gallery-item-first').addClass('gallery-item-add');
            $('.gallery-item-previous').removeClass('gallery-item-previous').addClass('gallery-item-first');
            $('.gallery-item-selected').removeClass('gallery-item-selected').addClass('gallery-item-previous');
            $('.gallery-item-next').removeClass('gallery-item-next').addClass('gallery-item-selected');
            $('.gallery-item-last').removeClass('gallery-item-last').addClass('gallery-item-next');
            $(gal).eq($i).removeClass('gallery-item-add').addClass('gallery-item-last');
            $i = $i + 1 >= $(gal).length ? 0 : $i + 1;
            $i_prev = $i_prev + 1 >= $(gal).length ? 0 : $i_prev + 1;
            change = true;
        }
        function prevGallery() {
            change = false;
            $('.gallery-item-last').removeClass('gallery-item-last').addClass('gallery-item-add');
            $('.gallery-item-next').removeClass('gallery-item-next').addClass('gallery-item-last');
            $('.gallery-item-selected').removeClass('gallery-item-selected').addClass('gallery-item-next');
            $('.gallery-item-previous').removeClass('gallery-item-previous').addClass('gallery-item-selected');
            $('.gallery-item-first').removeClass('gallery-item-first').addClass('gallery-item-previous');
            $(gal).eq($i_prev).removeClass('gallery-item-add').addClass('gallery-item-first');
            $i = $i - 1 < 0 ? $(gal).length - 1 : $i - 1;
            $i_prev = $i_prev - 1 < 0 ? $(gal).length - 1 : $i_prev - 1;
            change = true;
        }
        setInterval(function () {
            if(change) {
                nextGallery();
            }
        }, 10000);
        $('.zm-carousel-control-prev').on('click', function () {
            prevGallery();
        })
        $('.zm-carousel-control-next').on('click', function () {
            nextGallery();
        })
    });
</script>