@using TDT.Core.DTO;
@using TDT.Core.Helper;
@using TDT.Core.Extensions;
@{
    ViewData["Title"] = "Home Page";
    var loadRelease = "";
    string itemColRelease = HtmlHelperExtension.GetString(Html.PartialAsync("/views/partial/_ItemSongLoading.cshtml").Result);
    for(int i = 0; i < 3; i++)
    {
        string col = "";
        for(int j = 0; j < 4; j++)
        {
            col += itemColRelease;
        }
        loadRelease += string.Format(
                                    @"
                                        <div class=""column mar-b-0 is-fullhd-4 is-widescreen-4 is-desktop-4 is-touch-6 is-tablet-6"">
                                            <div class=""list"">
                                                {0}
                                            </div>
                                        </div>
                                    ", col);
    }
}

<main class="zm-section" id="body-scroll"
      style="position: absolute; inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;">
    <div class="container home-page-content">
        <div class="container">
            <div class="gallery">
                <div class="gallery-container" style="height: 201.413px">
                    <div class="zm-gallery-prev">
                        <button class="zm-btn zm-carousel-control-prev button" tabindex="0">
                            <i class="icon ic-go-left"></i>
                        </button>
                    </div>
                    <div class="gallery-item gallery-item-next">
                        <div class="zm-card">
                            <a title="" href="/playlist/Nhac-Moi-Moi-Tuan/67WIO6CF.html">
                                <div class="zm-card-image">
                                    <figure class="image is-48x48">
                                        <img src="https://photo-zmp3.zmdcdn.me/banner/0/e/f/8/0ef8beec056970cb6e9596e056fa1c5a.jpg"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="zm-card-content">
                                    <div class="title"></div>
                                    <h3 class="subtitle"></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-item gallery-item-last">
                        <div class="zm-card">
                            <a title="" href="/playlist/Doa-Hong-Nhac-Viet/ZA9U9FCI.html">
                                <div class="zm-card-image">
                                    <figure class="image is-48x48">
                                        <img src="https://photo-zmp3.zmdcdn.me/banner/3/3/e/7/33e77ef341a68837ac02593869d49813.jpg"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="zm-card-content">
                                    <div class="title"></div>
                                    <h3 class="subtitle"></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-item gallery-item-add">
                        <div class="zm-card">
                            <a title=""
                               href="/album/Artist-s-Story-33-Tang-Duy-Tan-Viet-nhac-de-quen-di-thuc-tai-phu-phang-Tang-Duy-Tan/6BDOUZFI.html">
                                <div class="zm-card-image">
                                    <figure class="image is-48x48">
                                        <img src="https://photo-zmp3.zmdcdn.me/banner/0/5/1/9/0519e7502823f6c3c486ecb9109b5f1b.jpg"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="zm-card-content">
                                    <div class="title"></div>
                                    <h3 class="subtitle"></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-item gallery-item-add">
                        <div class="zm-card">
                            <a title="" href="/playlist/Rap-Viet-Moi-Nhat/ZU607OIB.html">
                                <div class="zm-card-image">
                                    <figure class="image is-48x48">
                                        <img src="https://photo-zmp3.zmdcdn.me/banner/7/b/4/c/7b4c90a6d7e07a36edadd0388f388da8.jpg"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="zm-card-content">
                                    <div class="title"></div>
                                    <h3 class="subtitle"></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-item gallery-item-add">
                        <div class="zm-card">
                            <a title="" href="/playlist/Nhac-Moi-Moi-Tuan/67WIO6CF.html">
                                <div class="zm-card-image">
                                    <figure class="image is-48x48">
                                        <img src="https://photo-zmp3.zmdcdn.me/banner/0/e/f/8/0ef8beec056970cb6e9596e056fa1c5a.jpg"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="zm-card-content">
                                    <div class="title"></div>
                                    <h3 class="subtitle"></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-item gallery-item-first">
                        <div class="zm-card">
                            <a title="" href="/playlist/Doa-Hong-Nhac-Viet/ZA9U9FCI.html">
                                <div class="zm-card-image">
                                    <figure class="image is-48x48">
                                        <img src="https://photo-zmp3.zmdcdn.me/banner/3/3/e/7/33e77ef341a68837ac02593869d49813.jpg"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="zm-card-content">
                                    <div class="title"></div>
                                    <h3 class="subtitle"></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-item gallery-item-previous">
                        <div class="zm-card">
                            <a title=""
                               href="/album/Artist-s-Story-33-Tang-Duy-Tan-Viet-nhac-de-quen-di-thuc-tai-phu-phang-Tang-Duy-Tan/6BDOUZFI.html">
                                <div class="zm-card-image">
                                    <figure class="image is-48x48">
                                        <img src="https://photo-zmp3.zmdcdn.me/banner/0/5/1/9/0519e7502823f6c3c486ecb9109b5f1b.jpg"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="zm-card-content">
                                    <div class="title"></div>
                                    <h3 class="subtitle"></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-item gallery-item-selected">
                        <div class="zm-card">
                            <a title="" href="/playlist/Rap-Viet-Moi-Nhat/ZU607OIB.html">
                                <div class="zm-card-image">
                                    <figure class="image is-48x48">
                                        <img src="https://photo-zmp3.zmdcdn.me/banner/7/b/4/c/7b4c90a6d7e07a36edadd0388f388da8.jpg"
                                             alt="">
                                    </figure>
                                </div>
                                <div class="zm-card-content">
                                    <div class="title"></div>
                                    <h3 class="subtitle"></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="zm-gallery-next">
                        <button class="zm-btn zm-carousel-control-next button" tabindex="0">
                            <i class="icon ic-go-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="zm-section zm-new-release-section channel-section pad-0">
            <h3 class="zm-section-title title is-2">
                Mới phát hành
                <a id="all_release" class="discovery-btn" href="/Hub/new_release?option=0">
                    Tất cả <i class="icon ic-go-right"></i>
                </a>
            </h3>
            <div class="genre-select">
                <button class="zm-btn active button genre_vn" tabindex="0">Việt Nam</button>
                <button class="zm-btn button genre_all" tabindex="0">Tất cả</button>
            </div>
            <div id="song_release" class="columns is-multiline">
                @* @Html.Raw(loadRelease) *@
            </div>
        </div>
        <div class="zm-section playlist-section channel-section pad-0">
            <div class="container">
                <h3 class="zm-section-title title is-2">
                    Chill
                    <a class="discovery-btn" href="/Hub/Chill">
                        Tất cả <i class="icon ic-go-right"></i>
                    </a>
                </h3>
                <div class="zm-carousel-wrapper">
                    <div class="zm-carousel">
                        <div id="playlist_chill" class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px)">
                            @for (int i = 0; i < 5; i++)
                            {
                                @await Html.PartialAsync("/views/partial/_ItemPlaylistLoading.cshtml")
                            }
                        </div>
                    </div>
                    <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
                        <i class="icon ic-go-left"></i>
                    </button>
                    <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
                        <i class="icon ic-go-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="zm-section playlist-section channel-section pad-0">
            <div class="container">
                <h3 class="zm-section-title title is-2">Một chút yêu đời</h3>
                <div class="zm-carousel-wrapper">
                    <div class="zm-carousel">
                        <div id="playlist_yeudoi" class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px)">
                            @for (int i = 0; i < 5; i++)
                            {
                                @await Html.PartialAsync("/views/partial/_ItemPlaylistLoading.cshtml")
                            }
                        </div>
                    </div>
                    <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
                        <i class="icon ic-go-left"></i>
                    </button>
                    <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
                        <i class="icon ic-go-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="zm-section playlist-section channel-section pad-0">
            <div class="container">
                <h3 class="zm-section-title title is-2">Remix là Dance luôn</h3>
                <div class="zm-carousel-wrapper">
                    <div class="zm-carousel">
                        <div id="playlist_remix_dance" class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px)">
                            @for (int i = 0; i < 5; i++)
                            {
                                @await Html.PartialAsync("/views/partial/_ItemPlaylistLoading.cshtml")
                            }
                        </div>
                    </div>
                    <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
                        <i class="icon ic-go-left"></i>
                    </button>
                    <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
                        <i class="icon ic-go-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="zm-section playlist-section channel-section pad-0">
            <div class="container">
                <h3 class="zm-section-title title is-2">Tâm trạng tan chậm</h3>
                <div class="zm-carousel-wrapper">
                    <div class="zm-carousel">
                        <div id="playlist_tam_trang" class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px)">
                            @for (int i = 0; i < 5; i++)
                            {
                                @await Html.PartialAsync("/views/partial/_ItemPlaylistLoading.cshtml")
                            }
                        </div>
                    </div>
                    <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
                        <i class="icon ic-go-left"></i>
                    </button>
                    <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
                        <i class="icon ic-go-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="zm-section playlist-section channel-section pad-0">
            <div class="container">
                <h3 class="zm-section-title title is-2">Nghệ sĩ thịnh hành</h3>
                <div class="zm-carousel-wrapper">
                    <div class="zm-carousel">
                        <div id="artist_thinh_hanh" class="zm-carousel__container" style="transform: translate3d(0px, 0px, 0px)">
                            @for (int i = 0; i < 5; i++)
                            {
                                @await Html.PartialAsync("/views/partial/_ItemArtistLoading.cshtml")
                            }
                        </div>
                    </div>
                    <button class="zm-btn zm-carousel-control-prev zm-disabled is-hide button" tabindex="0">
                        <i class="icon ic-go-left"></i>
                    </button>
                    <button class="zm-btn zm-carousel-control-next zm-disabled is-hide button" tabindex="0">
                        <i class="icon ic-go-right"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="container zm-partner-section">
        </div>
    </div>
</main>

<script>
    function loadSongReleaseAll() {
        $('#song_release').html(`@Html.Raw(loadRelease)`);
        $.ajax({
            url: "/Share/GetHtmlSongReleaseAll",
            success: function (data) {
                if (data == '') {
                    return;
                }
                $('.genre_vn').removeClass('active');
                $('.genre_all').addClass('active');
                $('#all_release').attr("href", "/Hub/new_release?option=0");
                $('#song_release').html(data);
            }
        });
    }
    function loadSongReleaseVN() {
        $('#song_release').html(`@Html.Raw(loadRelease)`);
        $.ajax({
            url: "/Share/GetHtmlSongReleaseVN",
            success: function (data) {
                if(data == '') {
                    return;
                }
                $('.genre_all').removeClass('active');
                $('.genre_vn').addClass('active');
                $('#all_release').attr("href", "/Hub/new_release?option=1");
                $('#song_release').html(data);
            }
        });
    }
    $(document).ready(function () {
        $('.home').addClass('is-active');

        $('.genre_all').click(function () {
            loadSongReleaseAll();
        });
        $('.genre_vn').click(function () {
            loadSongReleaseVN();
        });
        setTimeout(() => {
            loadSongReleaseVN();
            $.ajax({
                url: "/Share/GetHtmlPlaylistChill",
                success: function (data) {
                    if (data == '') {
                        return;
                    }
                    $('#playlist_chill').html(data);
                }
            });
            $.ajax({
                url: "/Share/GetHtmlPlaylistYeuDoi",
                success: function (data) {
                    if (data == '') {
                        return;
                    }
                    $('#playlist_yeudoi').html(data);
                }
            });
            $.ajax({
                url: "/Share/GetHtmlPlaylistRemixDance",
                success: function (data) {
                    if (data == '') {
                        return;
                    }
                    $('#playlist_remix_dance').html(data);
                }
            });
            $.ajax({
                url: "/Share/GetHtmlPlaylistTamTrang",
                success: function (data) {
                    if (data == '') {
                        return;
                    }
                    $('#playlist_tam_trang').html(data);
                }
            });
            $.ajax({
                url: "/Share/GetHtmlArtistThinhHanh",
                success: function (data) {
                    if (data == '') {
                        return;
                    }
                    $('#artist_thinh_hanh').html(data);
                }
            });
        }, 1000);
        var change = true;
        var gal = $('.gallery-item');
        $i = 5;
        $i_prev = $(gal).length;
        function nextGallery() {
            change = false;
            $('.gallery-item-first').removeClass('gallery-item-first').addClass('gallery-item-add');
            $('.gallery-item-previous').removeClass('gallery-item-previous').addClass('gallery-item-first');
            $('.gallery-item-selected').removeClass('gallery-item-selected').addClass('gallery-item-previous');
            $('.gallery-item-next').removeClass('gallery-item-next').addClass('gallery-item-selected');
            $('.gallery-item-last').removeClass('gallery-item-last').addClass('gallery-item-next');
            $(gal).eq($i).removeClass('gallery-item-add').addClass('gallery-item-last');
            $i = $i + 1 >= $(gal).length ? 0 : $i + 1;
            $i_prev = $i_prev + 1 >= $(gal).length ? 0 : $i_prev + 1;
            change = true;
        }
        function prevGallery() {
            change = false;
            $('.gallery-item-last').removeClass('gallery-item-last').addClass('gallery-item-add');
            $('.gallery-item-next').removeClass('gallery-item-next').addClass('gallery-item-last');
            $('.gallery-item-selected').removeClass('gallery-item-selected').addClass('gallery-item-next');
            $('.gallery-item-previous').removeClass('gallery-item-previous').addClass('gallery-item-selected');
            $('.gallery-item-first').removeClass('gallery-item-first').addClass('gallery-item-previous');
            $(gal).eq($i_prev).removeClass('gallery-item-add').addClass('gallery-item-first');
            $i = $i - 1 < 0 ? $(gal).length - 1 : $i - 1;
            $i_prev = $i_prev - 1 < 0 ? $(gal).length - 1 : $i_prev - 1;
            change = true;
        }
        setInterval(function () {
            if(change) {
                nextGallery();
            }
        }, 10000);
        $('.zm-carousel-control-prev').on('click', function () {
            prevGallery();
        })
        $('.zm-carousel-control-next').on('click', function () {
            nextGallery();
        })
    });
</script>