<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TDT.QLDV.Properties.Settings.TDT_QLDVConnectionString"
            connectionString="Data Source=TDT-QLDV.mssql.somee.com;Initial Catalog=TDT-QLDV;Persist Security Info=True;User ID=tdtad_SQLLogin_1;Password=xvewnuitg7"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>