@using TDT.Core.DTO.Firestore
@using TDT.Core.Helper
@using TDT.Core.Ultils
@{
    ViewData["Title"] = "Nhạc Mới Phát Hành";
    <link rel="stylesheet" href="~/css/new_release.css" />
    <link rel="stylesheet" href="~/css/loading.css" />
    string option = ViewData["option"].ToString();
    string classAll = "zm-btn button genre_all " + ((option == "0") ? "active" : "");
    string classVN = "zm-btn button genre_vn " + ((option == "1") ? "active" : "");
}


<main class="zm-section" id="body-scroll"
      style="position: absolute; inset: 0px; overflow: hidden scroll; margin-right: -6px; margin-bottom: 0px;">
    <div class="container top-new-relesase-container">
        <div class="container new-release-chart-container new-release-songs-wrapper">
            <div class="new-release-chart-header">
                <div class="title">
                    <h3 class="mar-0 title">Mới phát hành</h3><button class="zm-btn button" tabindex="0">
                        <i class="icon">
                            <svg width="44" height="44" viewBox="0 0 44 44" fill="none">
                                <g filter="url(#filter0_d_3141_46346)">
                                    <circle cx="22" cy="21" r="18" fill="#FEFFFF"></circle>
                                </g>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M18.8449 13.5557C18.1011 13.14 17.7292 12.9322 17.4248 12.9672C17.1591 12.9977 16.9187 13.1388 16.7624 13.3558C16.5833 13.6045 16.5833 14.0305 16.5833 14.8825V27.1179C16.5833 27.9698 16.5833 28.3958 16.7624 28.6445C16.9186 28.8615 17.1591 29.0026 17.4247 29.0331C17.7292 29.0681 18.101 28.8604 18.8447 28.4448L29.7922 22.3277C30.568 21.8942 30.9559 21.6775 31.0849 21.3922C31.1973 21.1434 31.1973 20.8584 31.0849 20.6096C30.956 20.3243 30.5681 20.1076 29.7923 19.674L18.8449 13.5557Z"
                                      fill="#141414"></path>
                                <defs>
                                    <filter id="filter0_d_3141_46346" x="0" y="0" width="44" height="44"
                                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha">
                                        </feColorMatrix>
                                        <feOffset dy="1"></feOffset>
                                        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                                        <feColorMatrix type="matrix"
                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"></feColorMatrix>
                                        <feBlend mode="normal" in2="BackgroundImageFix"
                                                 result="effect1_dropShadow_3141_46346"></feBlend>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3141_46346"
                                                 result="shape"></feBlend>
                                    </filter>
                                </defs>
                            </svg>
                        </i>
                    </button>
                </div>
                
            </div>
            <div class="genre-select">
                <button class="@classAll" tabindex="0">Tất cả</button>
                <button class="@classVN" tabindex="0">Việt Nam</button>
            </div>
            <div class="list song-list-select">
                <div class="media select-header">
                    <div class="media-left">
                        <div class="sort-wrapper">
                            <div class="zm-dropdown zm-group-dropdown mar-r-10 is-hidden">
                                <div class="zm-dropdown-trigger-btn">
                                    <button class="zm-btn button" tabindex="0">
                                        <i class="icon ic-24-Sort"></i>
                                    </button>
                                </div>
                                <div class="zm-dropdown-content">
                                    <div class="zm-dropdown-list-item">Mặc định</div>
                                    <div class="zm-dropdown-list-item">Tên bài hát (A-Z)</div>
                                    <div class="zm-dropdown-list-item">Tên ca sĩ (A-Z)</div>
                                    <div class="zm-dropdown-list-item">Tên Album (A-Z)</div>
                                </div>
                            </div>
                            <div class="column-text">Bài hát</div>
                        </div>
                    </div>
                    <div class="media-content">
                        <div class="column-text mar-l-10">Phát hành</div>
                    </div>
                    <div class="media-right">
                        <div class="column-text"> Thời gian</div>
                    </div>
                </div>
                <div id="page_song_release">
                    @{
                        for (int i = 0; i < 5; i++)
                        {
                                            <div class="select-item">
                                                <div class="checkbox-wrapper"><label class="checkbox"><input type="checkbox"></label></div>
                                                <div class="list-item bor-b-1 media-item hide-right is-vip">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <div class="song-prefix mar-r-15"><i class="icon ic-song"></i></div>
                                                            <div class="song-thumb">
                                                            <figure class="image  loading is-40x40" title="">
                                                                    <img src=""
                                                                         alt="">
                                                                </figure>
                                                                <div class="opacity "></div>
                                                                <div class="zm-actions-container">
                                                                    <div class="zm-box zm-actions">
                                                                        <button class="zm-btn zm-tooltip-btn animation-like is-hidden active is-hover-circle button"
                                                                                tabindex="0">
                                                                            <i class="icon ic-like"></i><i class="icon ic-like-full"></i>
                                                                        </button><button class="zm-btn action-play  button" tabindex="0">
                                                                            <i class="icon action-play ic-play"></i>
                                                                        </button><button class="zm-btn zm-tooltip-btn is-hidden is-hover-circle button"
                                                                                         tabindex="0">
                                                                            <i class="icon ic-more"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-info">
                                                                <div class="title-wrapper">
                                                                    <span class="item-title has-icon title">
                                                                        <span>
                                                                            <span><span></span></span><span style="position: fixed; visibility: hidden; top: 0px; left: 0px;">…</span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            <h3 class="is-one-line is-truncate subtitle loading">
                                                                    
                                                                </h3>
                                                            </div>
                                                        </div>
                                                        <div class="media-content">
                                                            <div class="loading"></div>
                                                        </div>
                                                        <div class="media-right">
                                                            <div class="hover-items">
                                                                <div class="level">
                                                                    <div class="level-item"></div>
                                                                    <div class="level-item">
                                                                        <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                                                                            <i class="icon ic-karaoke"></i>
                                                                        </button>
                                                                    </div>
                                                                    <div class="level-item">
                                                                        <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                                                                                tabindex="0">
                                                                            <i class="icon ic-like"></i><i class="icon ic-like-full"></i>
                                                                        </button>
                                                                    </div>
                                                                    <div class="level-item">
                                                                        <button class="zm-btn zm-tooltip-btn is-hover-circle button" tabindex="0">
                                                                            <i class="icon ic-more"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="action-items">
                                                                <div class="level">
                                                                    <div class="level-item">
                                                                        <button class="zm-btn zm-tooltip-btn animation-like undefined active is-hover-circle button"
                                                                                tabindex="0">
                                                                            <i class="icon ic-like"></i><i class="icon ic-like-full"></i>
                                                                        </button>
                                                                    </div>
                                                                    <div class="level-item duration loading"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="zmp3_Player_Overlay" class="mar-b-30" style="bottom: 90px; display:none">
        <div class="wrlvks_A" id="dTP-zone-1095369414359345941" z2-zoneid="1095369414359345941" z2-width="728"
             z2-height="1" z2-close="true" z2-logo-position="bottom" z2-logo="no_fb" z2-close-freq="300"
             z2-reqid="486269">
        </div>
    </div>
</main>

<script>
    function loadSongReleaseAll() {
        var clearFirst = false;
        for (var i = 0; i < 6; i++) {
            $.ajax({
                url: "/Share/LoadPageSongReleaseAll?page=" + i,
                success: function (data) {
                    if (data == '') {
                        return;
                    }
                    if (clearFirst == false) {
                        $('#page_song_release').html('');
                        clearFirst = true;
                    }
                    $('.genre_vn').removeClass('active');
                    $('.genre_all').addClass('active');
                    $("#page_song_release").append(data);
                }
            });
        }
    }
    function loadSongReleaseVN() {
        var clearFirst = false;
        for (var i = 0; i < 6; i++) {
            $.ajax({
                url: "/Share/LoadPageSongReleaseVN?page=" + i,
                success: function (data) {
                    if (data == '') {
                        return;
                    }
                    if (clearFirst == false) {
                        console.log('clear');
                        $('#page_song_release').html('');
                        clearFirst = true;
                    }
                    $('.genre_all').removeClass('active');
                    $('.genre_vn').addClass('active');
                    $("#page_song_release").append(data);
                }
            });
        }
    }
    $('.genre_all').click(function () {
        loadSongReleaseAll();
    });
    $('.genre_vn').click(function () {
        loadSongReleaseVN();
    });
    $(document).ready(function () {
        if ('@option' == '0') {
            loadSongReleaseAll();
        }
        else {
            loadSongReleaseVN();
        }
    });
</script>