/*:root {
    --height-logo: 100px;
    --bg-temp: #12151e;
    --icon-temp: #fff;
    --bg-main-content: #12151e;
    --color-temp: #6C7293;
    --color-separate: #2c2e33;
    --color-icon-nav: #fff;
    --color-change: #fff;
    --nav-link-hover: #0f1015;
    --navbar-shadow: 20px 19px 34px -15px rgba(0, 0, 0, 0.5);
    --popup-shadow: 0px 0px 35px -3px black;
    --bg-popup: #191C24;
    --bg-hover: #0F1015;
    --border-temp: 1px px solid #2c2e33;
}*/

:root {
    --height-logo: 100px;
    --icon-temp: #fff;
    --bg-temp: #f5f5f5;
    --bg-main-content: #f8f9fa;
    --color-temp: #6C7293;
    --nav-link-hover: #0f1015;
    --navbar-shadow: 4px 0 0px 2px rgba(0 0 0 / 0.03);
    --color-separate: #eaecf0;
    --color-icon-nav: #767676;
    --color-change: #000;
    --bg-popup: #f5f5f5;
    --bg-hover: #e5e7eb;
    --border-temp: 1px solid #efebeb;
    --popup-shadow: 0px 0px 35px -3px #eae4e4
}


.dot-bg-color {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    border: 3px solid #1260e9;
    margin-right:4px;
}

.dot-bg-color:hover {
    cursor:pointer;
}

/*h1, h2, h3, h4, h5, h6, p, span, div {
    color: var(--color-change);
}*/
#main-content {
    margin-top: 70px;
    padding: 30px;
    width: 100%;
}
nav {
    border-bottom: 1px solid #E3E3E3;
}
#sidebar > ul > li > a > span.menu-title:hover{
    cursor: default;
}
.btn-control a {
    padding: 0 5px 0 5px;
    font-size: 15px;
    vertical-align: text-bottom;
    text-decoration: none !important;
}
.btn-control a div{
    /*width: 100%;*/
}
#breadcrumb {
    /*position: relative;*/
    /*float: left;*/
    width: 100%;
    height: 52px;
    background: #e8e8e8;
    margin-bottom: 10px;
    padding: 14px 14px 1px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.role-assigment-panel {
    border: 1px solid #5f5f5f;
    padding: 10px;
    height: 350px;
    align-content: flex-start !important;
    overflow: scroll;
}
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}*/