.loading {
    position: relative;
    min-height: 16px;
    border-radius: 10px;
    background-color: var(--loading-bg);
    overflow:hidden;
}

    .loading::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: auto;
        background: linear-gradient(to right, hsla(0,0%,30%,0.2), transparent);
        animation: loading-wave linear 1s infinite;
        transform: translateX(-100%);
    }

    .loading.title-wrapper {
        max-width: 40%;
    }

    .loading.time-release {
        max-width: 20%;
    }

    /*.loading.subtitle {
        max-width: 75% !important;
    }*/

@keyframes loading-wave {
    100% {
        transform: translateX(100%);
    }
}