@{
    ViewData["Title"] = "Hệ thống quản trị lùa gà 2.0";
}

<div class="text-center">
    <h1 class="display-4">Hệ thống quản trị Lùa Gà 2.0</h1>
</div>
<style>
    .card-text{
        color: #ffff;
    }
    p span{
        font-weight: bold;
    }
</style>